*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/4.1/fileHashes/fileHashes.bin
/gradle/4.1/fileHashes/fileHashes.lock
/gradle/4.1/taskHistory/fileSnapshots.bin
/gradle/4.1/taskHistory/fileSnapshots.lock